<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	{% block title %}<title>TLUG event</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
     <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="{% static 'fonts/abc.ttf' %}" rel="stylesheet" media="screen">
</head
<body>
<!-- header     -->
<nav class="navbar navbar-custom">
  <div class="container">

    <div class="nav-bar">
      <ul >
	      <li class="active" ><a href="{% url 'main'%}"><img src="{% static 'images/home.png' %}"> خانه </a></li>
        <li><img src="{% static 'images/separator.png' %}" alt="p"></li>

   	{% if user.is_authenticated %}
	<li><a  href="{% url 'profile' %}"><img src="{% static 'images/login.png' %}"> پروفایل </a></li>
      <ul class="nav navbar-nav navbar-left">
	      <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> خروج</a></li>
      </ul>
   	{% else %}
	<li><a  href="{% url 'login' %}"><img src="{% static 'images/login.png' %}"> ورود </a></li>
	{% endif %}
	

      </ul>
    </div>
  </div>
</nav>
<!-- end header -->






	{% block content %}{% endblock %}










<!--  footer  -->

<div class="container">
						
	<div class="col-md-12 text-center">
		<div class="footer">
			<h4 style="color:#737373" >این پروژه تحت مجوز آزاد GPL v.3 منتشر شده است</h4>
		</div>
	</div>
</div>
<!--  end footer  -->

</body>
</html>

