{% extends "base_generic.html" %}

{% block content %}

        <div class="container">
        	<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center">


				<form class="form-signin" method="post" action="{% url 'login' %}">
				{% csrf_token %}
      					<h2 class="form-signin-heading">لطفا وارد شوید</h2>
					<br>
      					<input type="username" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
					<br>
					<input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      					<label class="checkbox">

					<br>
      					<button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
					<a href="{% url 'newuser' %}">ساختن حساب جدید؟ </a>

					{% if error %}
					<p style="color:red;"> نام کاربری یا کلمه عبور اشتباه است</p> 
					{% endif %}
    				</form>
  			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-center"></div>

		</div>
	
	</div>
	

{% endblock %}
